$body: #3e3e3e;
$background: #bada44;
$text: #fefefe;

body {
  background: $body;
}

.card-container {
  font-family: "Open Sans", sans serif;
  font-size: 120px;
  font-weight: bold;
  user-select: none;
  width: 500px;
  height: 300px;
  margin: 100px auto;
  border-radius: 8px;
  perspective: 1500px;
  cursor: pointer;
}

.card {
  position: relative;
  height: 100%;
  border-radius: 8px;
  width: 100%;
  transform-style: preserve-3d;
}

.front,
.back {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.front {
  color: $text;
  background: $background;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
  color: $background;
  background: $text;
}
